<% if @team.errors.any? %>
  <div class="row p-0 ml-1 mr-1">
    <div class="col-1"></div>
    <div class='alert alert-danger col-10' id="flash-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="mb-0">
        <% @team.errors.full_messages.each do |message| %>
          <div class="p-0"><i class="fa fa-exclamation-circle pr-2"></i><%= message %></div>
        <% end %>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
<% end %>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <input type="hidden" id="department" value='<%= @department.id %>' >
    <div class="form-group">
      <%= form.label :name %><br>
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
    <% @count = 1 %>
    <%= form.fields_for :employee_teams do |employee_team_form| %>
      <% if employee_team_form.object.employee_type == Team::EMPLOYEE_TYPE[:team_leader] || employee_team_form.object.employee_type.blank? %>
        <div class="form-group">
          <%= employee_team_form.label :employee_id, "Team Leader" %>
          <label for="team_leader" id="leader" class="ml-5">
            <% unless employee_team_form.object.employee_id.blank? %>
              <%= employee_team_form.object.employee.name %> 
            <% end %>
          </label>
          <button type="button" class="btn btn-peach" id="leader_edit"><i class="fa fa-edit"></i></button>
          <div class="row" id="team_leader_field">
            <div class="col-md-11">
              <%= employee_team_form.text_field :employee_id, data: employee_team_form.object.employee_id.blank? ? {} : { load: [employee_team_form.object.employee] }, id: 'team_team_lead_id' %>
              <%= employee_team_form.hidden_field :employee_type, value: Team::EMPLOYEE_TYPE[:team_leader] %>
            </div>
            <div class="col-md-1 p-0">
              <button type="button" class="btn btn-regular" id="ok_leader">Ok</button>
            </div>
          </div>
          <span id="team_leader_span" class="error"></span>
        </div>
      <% elsif employee_team_form.object.employee_type == Team::EMPLOYEE_TYPE[:team_member] %>
        <div class="form-group append-team-members">
          <table class="table">
            <tbody id="member_table">
              <tr id="team_member_<%= @count.to_i %>" >
                <td class="pb-0"><%= image_tag employee_team_form.object.employee.avatar.url(:thumb), class: "rounded-circle employee-avatar mb-2 img-60-60" %></td>
                <td>
                  <%= employee_team_form.object.employee.name %>
                  <%= hidden_field_tag "team[employee_teams_attributes][#{@count.to_i}][employee_id]", employee_team_form.object.employee.id %>
                  <%= employee_team_form.hidden_field :_destroy %>
                  <%= hidden_field_tag "team[employee_teams_attributes][#{@count.to_i}][employee_type]", Team::EMPLOYEE_TYPE[:team_member] %> 
                </td>
                <td>
                  <button type="button" class="btn btn-outline-danger js-remove"
                    data-member-id="team_member_<%= @count.to_i %>">Remove</button>
                </td>
                <% @count = @count.to_i + 1 %>
              </tr>
            </tbody>
          </table>
        </div>
      <% end %>
    <% end %>
    <div class="form-group append-team-members">
      <table class="table">
        <tbody id="member_table">
        </tbody>
      </table>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-regular" id="add_team_members">
      Add Team Members</button>
    </div>
    <div class="form-group" id="team_members_view">
      <%= label_tag "Team Members" %><br>
      <div class="row">
        <div class="col-md-11">
          <%= text_field_tag "team_employee_ids", "" %>
        </div>
        <div class="col-md-1 p-0">
          <button type="button" class="btn btn-regular" id="ok">Ok</button>
        </div>
      </div>  
      <span id="team_member_span" class="error"></span>
    </div>  
    <div class="form-group">
      <%= form.label :team_pic, "Team Image" %><br>
      <%= form.file_field :team_pic, class:"form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :description %><br>
      <%= form.text_area :description, class: "form-control" %>
    </div>
    <div class="actions">
      <%= link_to department_teams_path(@department), :class => "btn btn-regular" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <%= form.submit class: "btn btn-regular" %>
    </div>
  </div>
  <div class="col-1"></div>
</div>
<br>