<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header"><h4 class="card-title mb-0"><b>Team Name: </b><%= @team.name.downcase.capitalize %></h4></div>
      <div class="card-body">
        <b class="head-color">Department: </b><span class="card-text"><%= @team.department.name.downcase.capitalize %></span><br>
        <b class="head-color">Team Leader: </b><span class="card-text"><%= @team.employee_lists(Team::EMPLOYEE_TYPE[:team_leader]).map(&:name).first.downcase.capitalize %></span>
        <br><b class="head-color">Team Members: </b>
          <% @team.employee_lists(Team::EMPLOYEE_TYPE[:team_member]).each do |member| %>
            <br><span class="ml-5"><%= member.name.downcase.capitalize %></span>
          <% end %>
        <br><b class="head-color">Description: </b>
        <p class="card-text"><%= @team.description %></p>
        <% if can? :create, Team%>
          <%= link_to 'Edit', edit_department_team_path(@department,@team), class: "btn btn-secondary" %>
        <% end %>
        <%= link_to 'Back', request.env["HTTP_REFERER"], class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>


