<% content_for :bread_crumbs do %>
  <div class="row d-flex p-1">
      <p class="m-0 align-middle"><%= link_to "#{@team.department.name.titleize}", department_path(@team.department), class: 
    'text-prim no-decoration' %> > Teams  > <%= @team.name %></p>
      <div class="m-0 pl-2">
        <%= link_to department_teams_path(@team.department), :class => "btn btn-regular btn-circle btn-md" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        <% if can? :create, Task %>
          <%= link_to new_department_team_path(@team.department), :class => "btn btn-regular btn-circle btn-md" do %>
            <i class="fas fa-plus"></i>
          <% end %>
        <% end %>
      </div> 
  </div>
<% end %>

<div class="container task-show-div" id="task_show_container">
  <div class="row d-flex">
    <div class="col-8">
        <h2 class="text-prim"><b><%= @team.name.downcase.titleize %></b></h2>
      <br>
      <div class="row d-flex">
        <div class="col-12">
          <div class="in-flex">
            <%= image_tag('team-leader.svg', size: "40x40")%>
            <p class="text-second ml-3">Team Lead: <span class="text-peach"><%= link_to @team.employee_lists(Team::EMPLOYEE_TYPE[:team_leader]).map(&:name).first.downcase.capitalize, member_show_path(@team.employee_lists(Team::EMPLOYEE_TYPE[:team_leader]).first), class: 'text-peach no-decoration' %></span></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4">
      <div class="rounded-complexity">
        <center>
        <%= image_tag('account.svg', size: "30x30")%><br>
        <span class="text-prim">Team Count <%= @team.employees.count %></span>
      </center>
      </div>
    </div>
  </div><br>
  <div class="row d-flex">
    <div class="col-6">
      <div class="show-col-left">
        <span class="text-prim"><h5><b>Team Members</b></h5></span>
          <table class="table table-hover text-second">
            <thead>
              <tr>
                <th>Id</th>
                <th>Member</th>
                <th>EMAIL</th>
              </tr>
            </thead>
            <tbody class="scroll-able text-peach">
              <% @team.employee_lists(Team::EMPLOYEE_TYPE[:team_member]).each do |member| %>
                <tr>
                  <td class="text-second"><%= member.id %></td>
                  <td class="clickable-item"><%= link_to member.name.downcase.titleize, member_show_path(member), class: 'text-peach no-decoration' %> </td>
                  <td class="text-second"><%= member.email %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-6">
      <div class="show-col-right">
          <span class="text-prim"><h5><b>Learn More about this team</b></h5></span>
          <div class="text-second">Department: <span class="text-peach"><%= link_to @team.department.name, department_path(@team.department), class: 'text-peach no-decoration' %></span></div>
          <div class="card">
            <div class="card-body" id="collapseCardDescription">
              <span class="text-peach">
                <%if @team.description.blank?%>
                  *no description provided* 
                <% else %>
                  <%= @team.description %></span>
                <% end %>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
