<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<%= link_to 'Edit', edit_department_team_path(@department,@team), class: "btn btn-info" %>
<%= link_to 'Back', department_teams_path(@department), class: "btn btn-dark" %>