<h1>Your assigned task status changed</h1>

<p>Hi <%= @employee.name %>! You have to assign task "<%= @task.name %>". Task status changed. Now <b>Task Status is: <%= @task.status %></b></p>
<p><b>Start Time: </b><%= @task.start_date.to_date %></p>
<p><b>End Time: </b><%= @task.expected_end_date.to_date %></p>
<p><b>Description: </b><%= @task.description %></p>
<p><b>Please see task at: </b></p>
<a href="http://localhost:3000/tasks/<%= @task.id %>">
  http://localhost:3000/tasks/<%= @task.id %> 
</a>