<p>Hi <%= @employee.name %>! You were assigned task "<%= @task.name %>".
<% if @delay_state == 'Coming time' %>
  Your assigned task deadline is today <%= @task.expected_end_date.to_date %>. Please meet the deadline as soon as possible.
<% elsif @delay_state == 'Remaining time' %>
  Your assigned task deadline is coming on <%= @task.expected_end_date.to_date %>. Only <%= @task %> <%if @task == 1 %>day<% else %>days<% end %> is remaining. Please meet the deadline.
<% else %>
  Your assigned task deadline was <%= @task.expected_end_date.to_date %>. You missed the deadline. It may affect your performance.
<% end %>
</p>
<p><b>Please see task at: </b></p>
<a href="<%= @employee.company.subdomain %>://localhost:3000/tasks/<%= @task.id %>">
  <%= @employee.company.subdomain %>://localhost:3000/tasks/<%= @task.id %> 
</a>