<div class="container">
  <center>
    <h1>Employee Attendance Report</h1>
  </center>
</div>
<br>
<% if !@attendances.empty? %> 
<div class="table-responsive-sm">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Presents</th>
        <th scope="col">Half Days</th>
        <th scope="col">Absents</th>
        <th scope="col">Leaves Remaining</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance|%>
      <tr>
        <td><%= attendance[:employee][:name].downcase.capitalize %></td>
        <td><%= attendance[:presents] %></td>
        <td><%= attendance[:half_days] %></td>
        <td><%= attendance[:absents] %></td>
        <td><%= attendance[:leaves_remaining] %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>              
<% end %>