<% @employee_tasks.each do |tasks_of_employee| %>
  <%  @curr_task = -1 %>
  <% unless tasks_of_employee.blank? %>
  <div class="container">
    <table class="table table-hover table-sm table-bordered velocity-table">
      <thead class="thead-light">
        <tr>
          <th>Task id</th>
          <th>Task Name</th>
          <th>Assigned to</th>
          <th>Log time</th>
          <th>Expected end date</th>
        </tr>
      </thead>
      <tbody>
        <% tasks_of_employee.each do |task|  %>
          <% if team_task?(task) %>
          <%  @curr_task = task %>
            <tr>
              <td><%= task.id %></td>
              <td><%= task.name %></td>
              <td><%= task.assignable.name %></td>
              <td><%= task.log_time %></td>
              <td><%= task.expected_end_date.to_formatted_s(:short) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th>Employee Velocity</th>
          <% if no_current_task?(@curr_task) %>
          	<th>-</th>
          <% else %>
          	<th><%= @employee_velocity[@curr_task.assignable_id] %></th>
         	<% end %>
        </tr>
      </thead>
    </table>
  </div>
  <% end %>
<% end %>