<% provide(:title, "Add an Employee") %>
<br>
<%= render 'shared/errors', obj: @employee %>
<%= form_for @employee, url: create_employee_path(@employee), html: { multipart: true }, method: :post ,:html => {class: "form-horizontal", role: "form"} do |form| %>
  <div class="form-group pr-5 pl-5">
    <div class="row">
      <div class="control-label col-sm-6">
        <%= form.label :name %>
      </div>
      <div class="control-label col-sm-6">
        <%= form.label :email %> 
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <%= form.text_field :name, class:"form-control", placeholder:"Name of Employee", autofocus: true %>
      </div>
      <div class="col-sm-6">
        <%= form.text_field :email, class:"form-control", placeholder:"Email of Employee" %>
      </div>
    </div>
     <div class="row">
      <div class="control-label col-sm-6">
        <%= form.label :role %>
      </div>
      <div class="control-label col-sm-6">
        <%= form.label :department_id %> 
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-sm-6">
        <%= form.select(:role, options_for_select([['Employee']]), {}, {class: "form-control"}) %>
      </div>
      <div class="col-sm-6">
        <%= form.collection_select :department_id, current_employee.company.departments.order(:name),:id,:name, {},class: "form-control" %>
      </div>
    </div>
    <div class="row">
      <div class="control-label col-sm-6">
        <%= form.label :password %> 
      </div>
      <div class="control-label col-sm-6">
        <%= form.label :avatar, "Profile Picture" %> 
      </div>
    </div>
    <div class="row  mb-5">
      <div class="col-sm-6">
        <%= form.password_field :password, class:"form-control", placeholder:"Password of Employee" %>
      </div>
      <div class="col-sm-6">
        <%= form.file_field :avatar, class:"form-control" %>
      </div>
    </div>
    <%= form.hidden_field :company_id, :value => @employee.company_id %>
    <%= form.submit class:'btn btn-regular' %>
  </div>
  
<% end %>
