<% provide(:title, "Edit Task Status") %>
<p>
  <strong>Task Title:</strong>
  <%= @task.name %>
  <%= form_for @task, url: {action: "update_status"} do |form| %>
  <%= form.select :status, ["In Progress","Ready to Review", "Review Completed"] %>
  <%= form.submit class: "btn btn-primary" %> 
  <%= link_to 'Back', department_project_tasks_url(@department, @task.project), class: "btn btn-primary" %>
  <% end %>
</p>


