<% provide(:title, "Edit Task Status") %>
<p>
	<strong>Task Title:</strong>
	<%= @task.name %>
	<%= form_for @task, url: {action: "update_status"} do |form| %>
  	<%= form.select :status, %w(New In\ Progress Review\ pending Reviewed Completed) %>
  	<%= form.submit class: "btn btn-regular" %>
  	<%= link_to 'Back', department_project_tasks_url(@department, @task.project), class: "btn btn-secondary" %>
	<% end %>
</p>


