<% provide(:title, "Project Tasks") %>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>Project: <b><%= @project.name.capitalize %></b></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h4><b>Department: </b><%= @project.department.name %></h4>
      </div>
      <div class="col">
        <h4><b>Status: </b><%= @project.status %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4><b>Start date: </b><%= @project.start_date.to_date %></h4>
      </div>
      <div class="col">
        <h4><b>Expected end date: </b><%= @project.expected_end_date.to_date %></h4>
      </div>

    </div>
  </div>

<% if can? :create, Task%>
<%= link_to 'Create a Task', new_department_project_task_path, class: "btn btn-primary" %>
<% else %>
   <%= link_to "All Tasks", department_project_tasks_path(@department, @project), remote: true, class: "btn btn-secondary active"%>
    <%= link_to "My Tasks", department_project_tasks_path(@department, @project, checked: true), remote: true, class: "btn btn-secondary active" %>
<% end %>
<%= link_to 'Back', department_projects_url, class: "btn btn-primary" %>
<div id="tasks_grid" >
  <%= render partial: 'taskgrid', locals: {tasks: @tasks}  %>
</div>
<% if @project.tasks.empty? %>
<p id="notice">No records Found</p>
<% end %>