<div id ="notice" class="alert alert-primary <%= 'd-none' if notice.blank? %>" role="alert">
  <%= notice %>
</div>
<h1>Details of the Project: <b><%= @project.name.capitalize %></b></h1>
<%= link_to 'Create a Task', new_project_task_path, class: "btn btn-primary" %>
<%= link_to 'Back', projects_url, class: "btn btn-primary" %>
<% if !@project.tasks.empty? %> 
<div class="table-responsive-sm">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Start Date</th>
        <th scope="col">Expected End Date</th>
        <th scope="col">Assigned To</th>
        <th scope="col">Status</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @project.tasks.each do |task|%>
      <tr>
        <td><%= task.name %></td>
        <td><%= task.start_date.to_date %></td>
        <td><%= task.expected_end_date.to_date %></td>
        <td><%= get_assignable_name(task) %></td>
        <td><span class="badge badge-success"><%= task.status %></span></td>
        <td>
          <%= link_to 'Change Status', edit_status_project_task_path(@project,task), class: "btn btn-outline-secondary" %>
          <%= link_to 'Edit or Assign the task', edit_project_task_path(@project, task), class: "btn btn-outline-secondary" %>
          <%= link_to 'Destroy', project_task_path(@project,task), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>  
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>              
<% end %>
<% if @project.tasks.empty? %>
<p id="notice">No records Found</p>

<% end %>