<div class="container">
  <div class="card">
    <div class="card-header">
      <h5>Project: <b><%= @project.name.titleize %></b></h5>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h6><b>Department: </b><%= @project.department.name.titleize %></h6>
        </div>
        <div class="col">
          <h6><b>Status: </b><%= @project.status %></h6>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h6><b>Start date: </b><%= @project.start_date.to_date %></h6>
        </div>
        <div class="col">
          <h6><b>Expected end date: </b><%= @project.expected_end_date.to_date %></h6>
        </div>
      </div>
    </div>
  </div>

<br>
<% if can? :create, Task%>
  <%= link_to 'Create a Task', new_department_project_task_path, class: "btn btn-regular" %>
<% else %>
  <%= link_to "All Tasks", department_project_tasks_path(@department, @project), remote: true, class: "btn btn-secondary active"%>
  <%= link_to "My Tasks", department_project_tasks_path(@department, @project, show_employees_only: true), remote: true, class: "btn btn-secondary active" %>
<% end %>
<%= link_to 'Back', request.env["HTTP_REFERER"], class: "btn btn-secondary" %>
<div id="tasks_grid" class="mt-3">
  <%= render partial: 'taskgrid', locals: {tasks: @tasks}  %>
</div>
<% if @project.tasks.empty? %>
  <p id="notice"><i>No Records Found.</i></p>
<% end %>
</div>