<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <div class="alert alert-success alert-dismissable present" id="present_alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×
        </button>
        <h4>Success!</h4> <strong> <%= current_employee.name%> </strong> your attendance has been marked.
      </div>

      <div class="alert alert-danger alert-dismissable present" id="present_failure_alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×
        </button>
        <h4>Failure!</h4> <strong> <%= current_employee.name%> </strong> your attendance could not be marked.
      </div>

      <div class="alert alert-success alert-dismissable" id="update_attendance_alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×
        </button>
        <h4>Success!</h4> <strong> <%= current_employee.name%> </strong> your logout time has been added.
      </div>

      <div class="alert alert-danger alert-dismissable" id="update_attendance_failure_alert" style="display: none;">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
          ×
        </button>
        <h4>Failure!</h4> <strong> <%= current_employee.name%> </strong> your logout time could not be added.
      </div>

    </div>
  </div>
</div>
<% if flash.present? %>
  <div class="container">
    <div class='alert alert-success alert-<%="#{flash.keys[0]}" %>'>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <ul class="mb-0">
         <% flash.each do |name, msg| %>
            <li><%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %></li>
          <% end %>
      </ul>
    </div>
  </div>
<% end %>
