<div class="container table-responsive">
  <table id="department_table" class="table data table-hover dt-responsive full-width" >
    <thead >
      <tr>
        <th>NAME</th>
        <th>TEAMS</th>
        <th>PROJECTS</th>
        <th>ACTIONS</th>
      </tr>
    </thead>
    <tbody>
      <% @departments.each do |department| %>
      <tr>
        <td class="clickable-item"><%= link_to (h truncate(department.name.downcase.titleize, :length => 21)), department_path(department) %></td>
        <td>
          <%= link_to department_teams_path(department), class: "btn btn-secondary" do %>
          <span class="pr-2"><%= department.teams.count %></span><i class="fa fa-arrow-right"></i>
          <% end %>
        </td>
        <td>
          <%= link_to department_projects_path(department), class: "btn btn-secondary" do %>
          <span class="pr-2"><%= department.projects.count %></span><i class="fa fa-arrow-right"></i>
          <% end %>
        </td>
        <td  class="d-table-cell align-middle vertical-align">
          <div class="row no-gutters justify-content-between">
            <div class="actions">
              <%= link_to department do %>
                <i title="Show Department" class="table-options action-show fas fa-eye"></i>
              <% end %>
              <% if can? :create, department %>
              <%= link_to edit_department_path(department), remote: :true do %>
                <i title="Edit Department" class="table-options action-edit fas fa-edit"></i>
              <% end %>
              <%= link_to department, method: :delete, data: { confirm: 'Are you sure?' }, remote: :true do %>
                <i title="Delete Department" class="table-options action-delete fas fa-trash"></i>
              <% end %>
              <% end %>
            </div>
            <div class="btn-group dropleft">
              <i class="fas fa-ellipsis-v cursor-pointer" title="More..." class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
              <div class="dropdown-menu">
                <%= link_to "Show Projects",department_projects_path(department), class:"dropdown-item" %>
                <%= link_to "Show Teams",department_teams_path(department), class:"dropdown-item" %>
              </div>
            </div>

          </div>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div class="pagination-div">
<%= will_paginate @departments, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>