<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= h truncate(department.description, :length => 21) %></td>
        <td>
          <%= link_to 'Show', department, class: "btn btn-regular" %>
          <% if can? :create, Department%>
            <%= link_to 'Edit', edit_department_path(department), class: "btn btn-secondary" %>
            <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger" %>
          <% end %>
          <%= link_to 'Show projects', department_projects_path(department), class: "btn btn-info" %>
          <%= link_to 'See Teams', department_teams_path(department), class: "btn btn-dark" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>