<table class="table" id="department_table">
  <thead >
    <tr>
      <th class="text-align-left">Name</th>
      <th>No of Teams</th>
      <th>No of Projects</th>
      <th class="text-align-right">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td class="text-align-left"><%= h truncate(department.name.downcase.titleize, :length => 21) %></td>
        <td>
          <%= link_to department_teams_path(department), class: "btn btn-peach" do %>
            <span class="pr-2"><%= department.teams.count %></span><i class="fa fa-arrow-right"></i>
          <% end %>
        </td>
        <td>
          <%= link_to department_projects_path(department), class: "btn btn-peach" do %>
            <span class="pr-2"><%= department.projects.count %></span><i class="fa fa-arrow-right"></i>
          <% end %>
        </td>
        <td class="text-align-right">
          <i class="fa fa-ellipsis-v" style="font-size:35px;color:#9a6dde !important;" data-toggle="dropdown"></i>
          <div class="dropdown-menu">
            <%= link_to 'Show', department, class: "dropdown-item" %>
            <% if can? :create, Department%>
              <%= link_to 'Edit', edit_department_path(department), remote: :true, class: "dropdown-item" %>
              <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, class: "dropdown-item" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>