<%= form_for(@department, remote: :true, html: {role: :form, 'data-model' => 'department'}) do |form| %>
  <div class="modal-body">
    <% if @department.errors.any? %>
      <div class="container alerts p-0">
        <div class='alert alert-danger' id="flash-alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <div class="mb-0">
            <% @department.errors.full_messages.each do |message| %>
              <div class="p-0"><i class="fa fa-exclamation-circle pr-2"></i><%= message %></div>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :name %><br>
      <%= form.text_field :name, required: true, class: "form-control" %>
    </div>
    <div class="from-group">
      <%= form.label :description %><br>
      <%= form.text_area :description, class: "form-control"%>
    </div>
    <br>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-peach" data-dismiss="modal">Close</button>
    <%= form.submit class: "btn btn-regular" %>
  </div>
<% end %>
