<%= form_for(@department) do |form|%>
  <% if @department.errors.any? %>
  <div class="container">
    <div class='alert alert-danger' id="flash-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <h5><%= pluralize(@department.errors.count, "error") %> prohibited this department from being saved:</h5>
      <ul>
      <% @department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %><br>
    <%= form.text_field :name, required: true, class: "form-control" %>
  </div>
  <div class="from-group">
    <%= form.label :description %><br>
    <%= form.text_area :description, class: "form-control"%>
  </div>
  <br>
  <div class="actions">
    <%= form.submit class: "btn btn-regular" %>
    <%= link_to 'Back', request.env["HTTP_REFERER"], class: "btn btn-secondary" %>
  </div>
<% end %>
