<p id="notice"><%= notice %></p>

<h4 class="h4">All Departments</h4>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= department.name %></td>
        <td><%= department.description %></td>
        <td><%= link_to 'Show', department, class: "btn btn-secondary" %>
        <%= link_to 'Edit', edit_department_path(department), class: "btn btn-info" %>
        <%= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Department', new_department_path, class: "btn btn-primary"%>