<% content_for :bread_crumbs do %>
  <div class="row d-flex p-1">
      <p class="m-0 align-middle">Departments > Department Details</p>
      <div class="m-0 pl-2 ">
        <%= link_to departments_path, :class => "btn btn-regular btn-circle btn-md" do %>
          <i class="fas fa-arrow-left"></i>
        <% end %>
        <% if can? :create, Department %>
          <%= link_to edit_department_path(@department), remote: :true, :class => "btn btn-peach btn-circle btn-md" do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= link_to @department, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-danger btn-circle btn-md" do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      <% end %>
  </div>
<% end %>
<p id="notice"><%= notice %></p>
<div>
  <div class="row">
    <div class="col-12">
      <h4><b><%= @department.name %></b></h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <span class="justify-content"><%= @department.description %></span>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-6 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="row d-flex justify-content-between align-items-center p-1">
              <h6 class="card-title mb-0"><b>Teams <%= @department.teams.count %></b></h6>
              <% if can? :create, Team %>
                <%= link_to new_department_team_path(@department),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#add_team', class: 'btn btn-regular btn-circle btn-lg'} do %>
                  <i class="fas fa-plus"></i>
                <% end %>
              <% end %>
          </div>
        </div>
        <div class="card-body">
          <% if @department.teams.length > 0%>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Team Name</th>
                  <th>Team Leader</th>
                  <th>Team Members</th>
                </tr>
              </thead>

              <tbody>
                <% @department.teams.order(created_at: :asc).last(5).each do |team| %>
                  <tr>
                    <td><%= team.name %></td>
                    <td><%= team.employee_lists(Team::EMPLOYEE_TYPE[:team_leader]).map(&:name).first %></td>
                    <td><%= team.employee_lists(Team::EMPLOYEE_TYPE[:team_member]).count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <center>
              <%= link_to department_teams_path(@department), :class => "btn btn-regular" do %>
                Load More
              <% end %>
            </center>
            <% else %>
              <p>No teams found</p>
            <% end %>
        </div>
      </div>
    </div>
    <div class="col-6 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="row d-flex justify-content-between align-items-center p-1">
            <h6 class="card-title mb-0"><b>Projects <%= @department.projects.count %></b></h6>
            <% if can? :create, Project %>
              <%= link_to new_department_project_path(@department),  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#add_project', class: 'btn btn-regular btn-circle btn-lg'} do %>
                <i class="fas fa-plus"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <% if @department.projects.length > 0%>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Name</th>
                  <th>Start Date</th>
                  <th>Expected End Date</th>
                </tr>
              </thead>

              <tbody>
                <% @department.projects.order(created_at: :asc).last(5).each do |project| %>
                  <tr>
                    <td><%= project.name %></td>
                    <td><%= project.start_date.to_date %></td>
                    <td><%= project.expected_end_date.to_date %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <center>
              <%= link_to department_projects_path(@department), :class => "btn btn-regular" do %>
                Load More
              <% end %>
            </center>
          <% else %>
            <p>No projects found</p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-12 mb-4">
      <div class="card">
        <div class="card-header">
          <div class="row d-flex justify-content-between align-items-center p-1">
            <h6 class="card-title mb-0"><b>Employees <%= @department.employees.count %></b></h6>
            <% if can? :create, Employee %>
              <%= link_to new_employee_path,  {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#add_employee', class: 'btn btn-regular btn-circle btn-lg'} do %>
                <i class="fas fa-plus"></i>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <% if @department.employees.length > 0%>
            <table class="table">
              <thead class="thead-light">
                <tr>
                  <th>Profile Pic</th>
                  <th>Name</th>
                  <th>Email</th>
                </tr>
              </thead>

              <tbody>
                <% @department.employees.order(created_at: :asc).last(5).each do |employee| %>
                  <tr>
                    <td>
                      <%= image_tag employee.avatar.url(:thumb), class: "rounded-circle employee-avatar mb-2", style:'width:60px; height:60px' %>
                    </td>
                    <td><%= employee.name %></td>
                    <td><%= employee.email %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <center>
              <%= link_to department_projects_path(@department), :class => "btn btn-regular" do %>
                Load More
              <% end %>
            </center>
          <% else %>
            <p>No employees found</p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_team" tabindex="-1" role="dialog" aria-labelledby="team_modal_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="team_modal_title">Add Team</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-peach" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-regular">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_project" tabindex="-1" role="dialog" aria-labelledby="project_modal_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="project_modal_title">Add Project</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Add Project
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-peach" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-regular">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_employee" tabindex="-1" role="dialog" aria-labelledby="employee_modal_title" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="employee_modal_title">Add Employee</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-peach" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-regular">Add</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_department" tabindex="-1" role="dialog" aria-labelledby="department_modal_title" aria-hidden="true"></div>
