<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <div class="card">
      <div class="card-header"><h3 class="card-title mb-0"><%= @department.name %></h3></div>
      <div class="card-body">
        <b class="head-color">No of teams: </b><span class="card-text"><%= @department.teams.count %></span>
        <br><b class="head-color">No of projects: </b><span class="card-text"><%= @department.projects.count %></span><br>
        <b class="head-color">Description: </b>
        <p class="card-text"><%= @department.description %></p>
        <%= link_to 'Show projects', department_projects_path(@department), class: "btn btn-info" %>
        <%= link_to 'See Teams', department_teams_path(@department), class: "btn btn-dark" %>
        <br><br>
        <% if can? :create, Department%>
        <%= link_to 'Edit', edit_department_path(@department), class: "btn btn-regular" %>
        <% end %>
        <%= link_to 'Back', departments_path, class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
  <div class="col-sm-2"></div>
</div>
