<ul class="list-group">
  <% @events.each do |event| %>
    <li class="list-group-item list-group-item-info">
      <ul>
        <li><%= event.title %></li>
        <li><%= event.description %></li>
        <li><%= event.event_date %></li> 
        <% if can? :create, Event %>
	        <li><b><%= link_to "Edit this event", edit_event_path(event) %></b></li>
	        <li><b><%= link_to "Delete this event", event_path(event), method: :delete, data: { confirm: "Are you sure you want to delete this event?" } %></b></li> 
	      <% end %>
      </ul>
    </li>
  <% end %>
</ul>