<% if @settings.present? %>
  <table class="table">
    <thead>
      <tr>
        <th>Days</th>
        <th>Status</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>Monday</th>
        <% if @settings.working_days[:monday] %>
          <td><span class="badge badge-success">On</span></td>
        <% else %>
          <td><span class="badge badge-danger">Off</span></td>
        <% end %>   
        <td><%= @settings.timings[:monday_start_time] %></td>
        <td><%= @settings.timings[:monday_end_time] %></td>
      </tr>
      <tr>
        <th>Tuesday</th>
        <% if @settings.working_days[:tuesday] %>
          <td><span class="badge badge-success">On</span></td>
        <% else %>
          <td><span class="badge badge-danger">Off</span></td>
        <% end %>   
        <td><%= @settings.timings[:tuesday_start_time] %></td>
        <td><%= @settings.timings[:tuesday_end_time] %></td>
      </tr>
      <tr>
        <th>Wednesday</th>
        <% if @settings.working_days[:wednesday] %>
          <td><span class="badge badge-success">On</span></td>
        <% else %>
          <td><span class="badge badge-danger">Off</span></td>
        <% end %>   
        <td><%= @settings.timings[:wednesday_start_time] %></td>
        <td><%= @settings.timings[:wednesday_end_time] %></td>
      </tr>
      <tr>
        <th>Thursday</th>
        <% if @settings.working_days[:thursday] %>
          <td><span class="badge badge-success">On</span></td>
        <% else %>
          <td><span class="badge badge-danger">Off</span></td>
        <% end %>   
        <td><%= @settings.timings[:thursday_start_time] %></td>
        <td><%= @settings.timings[:thursday_end_time] %></td>
      </tr>
      <tr>
        <th>Friday</th>
        <% if @settings.working_days[:friday] %>
          <td><span class="badge badge-success">On</span></td>
        <% else %>
          <td><span class="badge badge-danger">Off</span></td>
        <% end %>  
        <td><%= @settings.timings[:friday_start_time] %></td>
        <td><%= @settings.timings[:friday_end_time] %></td> 
      </tr>
      <tr>
        <th>Saturday</th>
        <% if @settings.working_days[:saturday] %>
          <td><span class="badge badge-success">On</span></td>
        <% else %>
          <td><span class="badge badge-danger">Off</span></td>
        <% end %>   
        <td><%= @settings.timings[:saturday_start_time] %></td>
        <td><%= @settings.timings[:saturday_end_time] %></td>
      </tr>
      <tr>
        <th>Sunday</th>
        <% if @settings.working_days[:sunday] %>
          <td><span class="badge badge-success">On</span></td>
        <% else %>
          <td><span class="badge badge-danger">Off</span></td>
        <% end %>  
        <td><%= @settings.timings[:sunday_start_time] %></td>
        <td><%= @settings.timings[:sunday_end_time] %></td> 
      </tr>
    </tbody>
  </table>
<% else %>
  <center><h3>No Settings Added!</h3></center>
<% end %>