<%= form_for [@department,@project] do |form| %>
<% if @project.errors.any? %>
  <div class="row p-0 ml-1 mr-1">
    <div class="col-1"></div>
    <div class='alert alert-danger col-10' id="flash-alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      <div class="mb-0">
        <% @project.errors.full_messages.each do |message| %>
          <div class="p-0"><i class="fa fa-exclamation-circle pr-2"></i><%= message %></div>
        <% end %>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
<% end %>
<div class="row">
  <div class="col-1"></div>
  <div class="col-10">
    <div class="row d-flex justify-content-start">
      <div class="form-group col-12">
        <%= form.label :name %><br>
        <%= form.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="row d-flex justify-content-start">
      <div class="form-group col-12">
        <%= form.label :description %><br>
        <%= form.text_area :description, class: "form-control", placeholder: "Enter description" %>
      </div>
    </div>
    <div class="row d-flex justify-content-start">
      <div class="form-group col-6">
        <%= form.label "Start Date" %><br>
        <%= form.date_field :start_date, class: "form-control" %>
      </div>
      <div class="form-group col-6">
       <%= form.label "Expected End Date" %><br>
       <%= form.date_field :expected_end_date, class: "form-control" %>
     </div>
    </div>
    <div class="actions mt-2">
      <%= link_to request.env["HTTP_REFERER"], :class => "btn btn-regular" do %>
        <i class="fas fa-arrow-left"></i>
      <% end %>
      <%= form.submit class: "btn btn-regular"  %>
    </div>
  </div>
  <div class="col-1"></div>
</div>
<% end %>
