<div class="container table-responsive">
<table id="project_table" class="table data table-hover dt-responsive full-width">
  <thead>
    <tr>
      <th >NAME</th>
      <th >START DATE</th>
      <th >EXPECTED END DATE</th>
      <th >STATUS</th>
      <th >ACTIONS</th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td class="clickable-item"><%= link_to project.name.downcase.titleize, department_project_tasks_path(@department,project) %></td>
      <td ><%= project.start_date.strftime("%B %e, %Y") %></td>
      <td ><%= project.expected_end_date.strftime("%B %e, %Y") %></td>
      <td ><%= project.status %></td>
      <td  class="d-table-cell align-middle vertical-align">
        <div class="row no-gutters justify-content-between">
          <div class="actions">
            <%= link_to department_project_tasks_path(@department,project) do %>
            <i title="Show Tasks" class="table-options action-show fas fa-eye"></i>
            <% end %>
            <% if can? :create, project %>
            <%= link_to edit_department_project_path(@department,project) do %>
            <i title="Edit Project" class="table-options action-edit fas fa-edit"></i>
            <% end %>
            <%= link_to department_project_path(@department,project), method: :delete, data: { confirm: 'Are you sure?' } do %>  
            <i title="Delete Project" class="table-options action-delete fas fa-trash"></i>
            <% end %>
            <% end %>
          </div>
          <div class="btn-group dropleft">
            <i class="fas fa-ellipsis-v cursor-pointer" title="More..." class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ></i>
            <div class="dropdown-menu">
                  <%= link_to "Show Tasks",department_project_tasks_path(project.department,project), class:"dropdown-item" %>
            </div>
          </div>

        </div>
      </td>
    </tr>

    <% end %>
  </tbody>
</table>
</div>
<div class="pagination-div">
<%= will_paginate @projects, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>
