<div class="container">
<% if can? :create, Project%>
  <%= link_to 'New Project', new_department_project_path, class: "btn btn-regular" %>
<% else %>
    <%= link_to "All Projects", department_projects_path, remote: true, class: "btn btn-secondary active"%>
    <%= link_to "My Projects", department_projects_path(show_employees_only: true), remote: true, class: "btn btn-secondary active" %>
<% end %>
<%= link_to 'Back', request.env["HTTP_REFERER"], class: "btn btn-secondary" %>
<% if @projects.present? %>
  <div id="projects_grid" class="mt-3">
    <%= render partial: 'projectsgrid', locals: {projects: @projects}  %>
  </div>
<% else %>
  <p id="notice"><i>No Records Found.</i></p>
<% end %>
</div>
<br>