<% content_for :head do %>
  <%= javascript_include_tag 'attendance_table' %>
<% end %>

<div class="container">
<table id="attendance_table" class="table table-striped table-bordered" style="width:100%">
  <thead>
    <tr>
      <th>Employee id</th>
      <th>Name</th>
      <th>Login Time</th>
      <th>Logout Time</th>
    </tr>
  </thead>

  <tbody>
    <% @attendances_list.each do |attendance| %>
    <% @company_employee = Employee.find(attendance.employee_id) %>

    <tr>
      <td>
        <%= attendance.employee.sequence_num %>
      </td>
      <td>
        <%= @company_employee.email %>
      </td>
      <td>
        <%= attendance.login_time.to_formatted_s(:long_ordinal) %>
      </td>
      <td>
        <% if attendance.logout_time.blank? %>
          nil
        <% else %>
          <%= attendance.logout_time.to_formatted_s(:long_ordinal) %>
        <% end %>
      </td>
    </tr>
    <% end %>
  </tbody>

  <tfoot>
    <tr>
      <th>Employee id</th>
      <th>Name</th>
      <th>Login Time</th>
      <th>Logout Time</th>
    </tr>
  </tfoot>
</table>
</div>
