<% content_for :head do %>
  <%= javascript_include_tag 'attendance_table' %>
<% end %>
<div class="container" style="overflow-x:auto;">
   <% if @attendances_list.any? %>
<table id="attendanceslist_table" style="width:100%" class="table data table-hover dt-responsive">
  <thead>
    <tr>
      <th >ID</th>
      <th >NAME</th>
      <th >EMAIL</th>
      <th >LOGIN TIME</th>
      <th >LOGOUT TIME</th>
    </tr>
  </thead>
  <tbody>
    <% @attendances_list.each do |attendance| %>
        <% @company_employee = Employee.find(attendance.employee_id) %>
    <tr>
      <td><%= attendance.employee.sequence_num %></td>
      <td><%= attendance.employee.name.downcase.titleize %></td>
      <td><%= attendance.employee.email.downcase %></td>
      <td><%= attendance.login_time.to_formatted_s(:long_ordinal) %></td>
      <td> <%= attendance_logout(attendance)%></td>
    </tr>

    <% end %>
  </tbody>
</table>

<% end %>
