<% content_for :head do %>
  <%= javascript_include_tag 'attendance_table' %>
<% end %>
<div class="container table-responsive">
   <% if @attendances.any? %>
<table id="attendanceslist_table" class="table data table-hover dt-responsive full-width">
  <thead>
    <tr>
      <th >ID</th>
      <th >NAME</th>
      <th >EMAIL</th>
      <th >LOGIN TIME</th>
      <th >LOGOUT TIME</th>
    </tr>
  </thead>
  <tbody>
    <% @attendances.each do |attendance| %>
        <% @company_employee = attendance.employee %>
    <tr>
      <td><%= @company_employee.sequence_num %></td>
      <td><%= @company_employee.name.downcase.titleize %></td>
      <td><%= @company_employee.email.downcase %></td>
      <td><%= attendance.login_time.to_formatted_s(:long_ordinal) %></td>
      <td> <%= attendance_logout(attendance)%></td>
    </tr>

    <% end %>
  </tbody>
</table>

<% end %>

<div class="pagination-div">
<%= will_paginate @attendances, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
</div>
