<div class="container">
  <center>
    <h1>Employee Attendance Report</h1>
  </center>
</div>
<br>
<% if @attendances.any? %>
  <table id="attendancereport_table" style="width:100%" class="table data table-hover dt-responsive">
    <thead>
      <tr>
        <th >ID</th>
        <th >NAME</th>
        <th >EMAIL</th>
        <th >PRESENTS</th>
        <th >HALF DAYS</th>
        <th >ABSENTS</th>
        <th >LEAVES REMAINING</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each do |attendance|%>
        <tr>
          <td><%= attendance[:employee][:sequence_num] %></td>
          <td><%= attendance[:employee][:name].downcase.capitalize %></td>
          <td><%= attendance[:employee][:email].downcase %></td>
          <td><%= attendance[:presents] %></td>
          <td><%= attendance[:half_days] %></td>
          <td><%= attendance[:absents] %></td>
          <td><%= attendance[:leaves_remaining] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>