<div class="container table-responsive">
<table id="taskdetails_table" class="table data table-hover dt-responsive full-width">
  <thead>
    <tr>
      <th>PROJECT NAME</th>
      <th>TASK NAME</th>
      <th>ASSIGNED TO</th>
      <th>ASSIGNED TYPE</th>
      <th>START DATE</th>
      <th>END DATE</th>
      <th>STATUS</th>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task|%>
      <tr>
        <td><%= task.project.name.downcase.titleize %></td>
        <td><%= task.name.downcase.titleize %></td>
        <td><%= get_assignable_name(task).downcase.titleize %></td>
        <td><%= get_assignable_type(task) %></td>
        <td><%= task.start_date.strftime("%B %e, %Y") %></td>
        <td><%= task.expected_end_date.strftime("%B %e, %Y") %></td>
        <td><span class="badge badge-success"><%= task.status.downcase %></span></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>
<% unless @pagination_disallow.present? %>
  <%= will_paginate @tasks, renderer: WillPaginate::ActionView::BootstrapLinkRenderer, list_classes: %w(pagination justify-content-center) %>
<% end %>


