<% @employee_tasks_data.each do |team_id, team_members_data| %>
<div class="container velocity-report">
  <div class="col-md-10">
    <center>
      <h5><%= team_name(team_id) %></h5>
    </center>
  </div>
  <table class="table table-hover table-sm table-bordered velocity-table">
    <thead class="thead-light">
      <tr>
        <th>Employee id</th>
        <th>Employee Name</th>
        <th>No. of Tasks</th>
        <th>Total Complexity of tasks</th>
        <th>Total time on tasks</th>
        <th>Employee Velocity</th>
      </tr>
    </thead>
    <tbody>
      <% team_members_data.each do |employee_id, employee_velocity_data|  %>
        <tr>
          <td><%= employee_velocity_data[:employee_id] %></td>
          <td><%= employee_velocity_data[:employee_name] %></td>
          <td><%= employee_velocity_data[:total_tasks] %></td>
          <td><%= employee_velocity_data[:total_complexity] %></td>
          <td><%= employee_velocity_data[:total_time] %></td>
          <td><%= employee_velocity_nan?(employee_velocity_data[:velocity]) %></td>
        </tr> 
      <% end %>     
    </tbody>
  </table>
</div>
<% end %>
