<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="_navbar">
  <div class="container-fluid">

    <button type="button" id="sidebarCollapse" class="btn btn-purple">
        <i class="fas fa-align-left"></i>
      </button>

    <button class="btn btn-dark d-inline-block d-lg-none ml-auto navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-align-justify"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <div class="d-flex align-items-center header_title">
          <p><%= yield(:title) %></p>
        </div>
      </ul>

      <ul class="navbar-nav ml-auto">
      	<% if check_today_timings? %>		
	      	<li class="nav-item" id="attendance_button">
	          <div class="d-flex align-items-center">
	            <% if present_marked? && not_logged_out? %>
	              <%= link_to 'Update Logout', update_attendance_path, class: 'btn btn-sm btn-outline-danger update_attendance', remote: true %>
	            <% elsif !present_marked? %>
	              <%= link_to 'Mark Present', employee_attendance_path, class: 'btn btn-sm btn-regular btn-primary mark_present', remote: true %>
	             <% end %>
	          </div>
	        </li>
      	<%	end %>
 
        <li class="nav-item dropdown no-arrow" id="notifications">
          <a class="nav-link dropdown-toggle" href="#" id="notificationsDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bell fa-fw"></i>
            <sup>9+</sup>  
          </a>
          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="notificationsDropdown">
            <h6 class="dropdown-header">Notifications</h6>
            <a class="dropdown-item d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-purple">
                  <i class="fas fa-file-alt text-white"></i>
                </div>
              </div>
              <span class="small-gray">A new report is here!</span>
            </a>
          </div>
        </li>

        <li class="nav-item dropdown no-arrow" id="messages">
          <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-envelope fa-fw"></i>
            <sup>7</sup>
          </a>

          <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">
              Messages
            </h6>
            <a class="dropdown-item  d-flex align-items-center" href="#">
              <div class="mr-3">
                <div class="icon-circle bg-purple">
                  <i class="fas fa-comment-alt text-white"></i>
                </div>
              </div>
              <span class="small-gray">New Message!</span>
            </a>
          </div>
        </li>

        <div class="topbar-divider d-none d-sm-block"></div>

        <li class="nav-item dropdown no-arrow" id="user_menu">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="small-gray"><%= current_employee.name %></span>
            <img src="https://source.unsplash.com/QAB-WJcbgJk/60x60" class="img-profile rounded-circle">
          </a>

          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="#">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              <span class="small">Profile</span>
            </a>
            <a class="dropdown-item" href="#">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              <span class="small">Settings</span>
            </a>
            <div class="dropdown-divider"></div>

            
            <%= link_to  destroy_employee_session_path, class: 'nav-link small text-gray-400 dropdown-item' , method: :delete do %>
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            <% end %>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
