<% content_for :head do %>
  <%= javascript_include_tag 'sidebar' %>
<% end %>

<nav id="sidebar">

  <div class="sidebar-header">
    <h3>EZ Employee</h3>
    <STRONG>ET</STRONG>
    <i class="fas fa-user-ninja"></i>
  </div>

  <ul class="list-unstyled sidenav-menu components">
    <li>
      <a class="d-flex align-items-center" href=<%= show_employee_path %>>
        <i class="fas fa-chart-line"></i>
        <span class="sidebar-option">Dashboard</span>
      </a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <li>
      <a href="#secondSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle d-flex align-items-center">
        <i class="fas fa-user"></i>
        <span class="sidebar-option">Employees</span>
      </a>
      <ul class="collapse list-unstyled" id=
      "secondSubmenu">
        <li>
          <a href=<%= new_employee_path %>>Add Employee</a>
        </li>
        <li>
          <a href=<%= employees_path %>>View Employees</a>
        </li>
      </ul>
    </li>

    <li>
      <a href="#deptSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle d-flex align-items-center">
        <i class="fas fa-building"></i>
        <span class="sidebar-option">Department</span>
      </a>
      <ul class="collapse list-unstyled" id=
      "deptSubmenu">
        <li>
          <a href=<%= new_department_path %>>Add Department</a>
        </li>
        <li>
          <a href=<%= departments_path %>>View Departments</a>
        </li>
      </ul>
    </li>

    <li>
      <a class="d-flex align-items-center" href=<%= teams_path %>>
        <i class="fas fa-user-friends"></i>
        <span class="sidebar-option">Teams</span>
      </a>
    </li>

    <li>
      <a href="#projectsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle d-flex align-items-center">
        <i class="fas fa-tasks"></i>
        <span class="sidebar-option">Projects</span>
      </a>
      <ul class="collapse list-unstyled" id=
      "projectsSubmenu">
        <li>
          <a href=<%= new_project_path %>>Add Project</a>
        </li>
        <li>
          <a href=<%= projects_path %>>View Projects</a>
        </li>
      </ul>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">
    
    <li>
      <a class="d-flex align-items-center" href="#">
        <i class="fas fa-calendar"></i>
        <span class="sidebar-option">Events</span>
      </a>
    </li>
    <li>
      <a class="d-flex align-items-center" href="#">
        <i class="fas fa-comment"></i>
        <span class="sidebar-option">Chat</span>
      </a>
    </li>
    <li>
      <a class="d-flex align-items-center" href="#">
        <i class="fas fa-briefcase"></i>
        <span class="sidebar-option">About</span>
      </a>
    </li>
    <li>
      <a class="d-flex align-items-center" href="#">
        <i class="fas fa-phone"></i>
        <span class="sidebar-option">Contact</span>
      </a>
    </li>

  </ul>

</nav>
