<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EzEmployeeTracking</title>
    <!-- Latest compiled and minified CSS -->
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <%= javascript_include_tag "https://code.jquery.com/jquery-3.2.1.slim.min.js" %>
    <%= javascript_include_tag 'https://code.jquery.com/jquery-3.3.1.js' %>
    <%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" %>
    <%= stylesheet_link_tag 'application', "token-input", "https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i", media: 'all' %>
    <%= javascript_include_tag 'application', "jquery.tokeninput", "http://localhost:9292/faye.js" %>
    <%= javascript_include_tag "https://kit.fontawesome.com/f2933a2170.js" %>
    <%= stylesheet_link_tag "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>

    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js' %>
    <%= stylesheet_link_tag 'https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css' %>
    <%= stylesheet_link_tag href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" %>
    <%= javascript_include_tag 'https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js' %>
    <%= csrf_meta_tags %>

  </head>
  <body>
    <% if employee_signed_in? %>
      <div class="wrapper" style='font-family: Roboto, sans-serif'>
        <%= render 'layouts/sidebar' %>
          <div id="header_div">
            <%= render 'layouts/header' %>
          </div>
        <div id="content" style='font-family: Roboto, sans-serif'>
          <div class="sticky-top bread-crumbs">
            <div class="row pl-4">
              <div class="col-12">
                <%= yield :bread_crumbs %>
              </div>
            </div>
          </div>
          <div class="yielded-area">
            <div id="notifications-flash">
              <%= render 'shared/notification' %>
            </div>
            <br>
            <%= yield %>
          </div>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>
    
  </body>
</html>
