<% provide(:title, "All Employees List") %>
<div class="row" style="margin-top: 40px;">
  <% @members.each do |employee| %>
    <% if employee.active == true %>
    <div class="card col-sm-4 shadow mb-2 bg-white card-width">
      <div class="card-body">
        <center>
          <%= image_tag employee.avatar.url(:thumb), class: "rounded-circle employee-avatar mb-2", style:'width:60px; height:60px' %>
          <h6 class="card-title"><b><%= employee.name %></b></h6>
          <p class="card-text mb-1"><strong class="head-color">Email: </strong><%= employee.email %></p>
          <p class="card-text"><strong class="head-color">Role: </strong><%= employee.role %></p>
          <% unless employee.role == Employee::ADMIN_ROLE %>
            <p class="card-text"><strong class="head-color">Department: </strong><%= employee.department.name %></p>
          <% end %>
          <%= link_to "Delete", member_path(employee), method: :delete, data: { confirm: "Are you sure you want to delete the employee?" }, class: "btn btn-outline-danger" %>
        </center>
      </div>
    </div>
    <% end %>
    <% end %>
</div>
